textarea {
    resize: none;
}

.corVermelha {
    color: red;
}

.headerRegister {
    background: #009688;
    color: #fff;
}

.headerUpdate {
    background: #17a2b8;
    color: #fff;
}

.headerView {
    background: #6c757d;
    color: #fff;
}

.imgSenha:hover {
    cursor: pointer;
}