textarea {
	resize: none;
}

.corVermelha {
	color: red;
}

.headerRegister {
	background: #009688;
	color: #fff;
}

.headerUpdate {
	background: #17a2b8;
	color: #fff;
}

.headerView {
	background: #6c757d;
	color: #fff;
}

.imgSenha:hover {
	cursor: pointer;
}

.textLenter {
	text-align: left;
}

.textCenter {
	text-align: center;
}

.textRight {
	text-align: right;
}

.notBlock {
	display: none !important;
}

/* Estilos Login */

#divLoading {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(254, 254, 255, .65);
	z-index: 9999;
	display: none;
}

#divLoading img {
	width: 50px;
	height: 50px;
}

.app-header__logo img {
	height: 50px;
}

/* Upload Imagem */

#containerImages {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
}

#containerImages>div {
	margin-right: 10px;
	margin-bottom: 8px;
}

.prevImage {
	border: 1px solid #CCC;
	width: 120px;
	height: 148px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.prevImage img {
    object-fit: cover;
	max-width: 120px;
	max-height: 148px;
}

.inputUploadfile {
	display: none;
}

.btnUploadfile,
.btnDeleteImage {
	border: 0;
	background-color: #009688;
	text-align: center;
	padding: 2px 3px;
	color: #FFF;
	font-size: 9pt;
	cursor: pointer;
	width: 100%;
}

.btnDeleteImage {
	background-color: #dc3545;
}

.prevImage .loading {
	width: 30px;
	height: 30px;
}

#celFotos img {
	width: 150px;
	margin: 10px;
}