.item-slick1::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.65);
    opacity: 1;
}

.block1 img {
    object-fit: cover;
    height: 250px;
    width: 370px;
    max-height: 250px;
    max-width: 370px;
}

.block2-pic img {
    object-fit: contain;
    height: 330px;
    width: 270px;
    max-height: 330px;
    max-width: 270px;
}

.container-produto {
    max-height: 500px;
    max-width: 300px;
    object-fit: cover;
    max-height: 500px;
    max-width: 300px;
}